body {
  background-color: #f3f6f8;
}
.header {
  background-color: white;
  border-bottom: 1px;
  border-width: 1px;
  box-shadow: 1px 1px 1px #e6e9ea;
  position: fixed;
  width: 100%;
  font-weight: bold;
  z-index: 1;
}
ul {
  list-style-type: none;
}
#reussite {
  border: 1px grey;
  padding: 4%;
  margin: 2%;
  border-radius: 2px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 1px 1px 1px grey;
}
#vivre {
  border: 1px grey;
  padding: 4%;
  margin: 2%;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 1px 1px 1px grey;
}

.titre {
  font-size: x-large;
  font-weight: bold;
}

#boutoncharte {
  background-color: #e40034;
  color: white;
  position: relative;
  left: 110px;
  justify-content: center;
}
.promo {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.container1 {
  padding-top: 40px;
  margin-top: 80px;
  display: inline-block;
}
