
body {
    background-color: aliceblue;
}

    

header 
{background-color: white;
     border-bottom: solid; border-width: 1px; box-shadow: 1px 1px 1px grey;
    
}
   
.intro
{
    padding-top:10px;
    padding-right:50%
}
.lien_charte{
   display: flexbox;
   position: relative;
   top: -80px;
    color:white;
    border-style:solid;
    border-width:5px;
    border-color: brown;
    background-color: brown;
    margin-left: 75%;
    margin-right: 130px;
    text-align: center;
    border-radius: 3px;
    
}
a{
    color:white
}

ul {
    list-style-type: none;
}

.reussite {
    border: 1px solid grey;
    padding: 4%;
    margin: 2%;
    border-radius: 2px;
    background-color: azure;
    border-radius: 10px;
    
}

#vivre {
    border: 1px solid grey;
    padding: 4%;
    margin: 2%;
    background-color: azure;
    border-radius: 10px;
}

h4{
    font-weight: bold;
    
}

.titre {
    font-size: x-large;
    font-weight: bold;
}

h6 {
    font-size: x-large;
    font-weight: bold;
}

.bouton2 {
   
}
